body {
   background-image: linear-gradient( rgb(121, 123, 231),rgb(243, 76, 243),rgb(255, 255, 255));
   padding-top: 20px;
}
h1{
    background-color: white;
    width: 250px;
    color: rgb(23, 23, 112);
    font-size: 45;
}

table{
    border: 2px solid white;
    padding: 20px;
    background-image: linear-gradient(rgb(243, 76, 243),rgb(121, 123, 231));
}

th{
    font-size: 35;
    color: white;
}
td{
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}
#pickup,#destination,#dateinp,#timeinp,#book{
    height: 30px;
    border-radius: 15px;
    color:rgb(23, 23, 112) ;
    text-align: center;
    width: 200px;
    font-size: 20;
}
#printrpt{
    color:rgb(23, 23, 112) ;
    font-size: 20;
    border-radius: 15px;
    width:max-content;
}
